* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  border-right: 1vw solid yellow;
}

.circle {
  background: white;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 3s;
  position: relative;
  left: 0rem;
}
.start-animation {
  animation-name: upToDown;
  animation-duration: 15s;
  animation-iteration-count: 1;
}
.circle-hover:hover {
  cursor: pointer;
  background-color: yellow;
  left: 95%;
}
@keyframes upToDown {
  0% {
    top: 0vh;
  }
  5% {
    top: 0vh;
  }

  100% {
    top: 100vh;
  }
}

#start-btn {
  position: fixed;
  padding: 0.5rem 1rem;
  color: yellow;
  right: 4%;
  top: 4%;
  border: 2px solid yellow;
  background-color: black;
  transition: 0.3s all;
  cursor: pointer;
}

#start-btn:hover {
  color: black;
  background-color: yellow;
}
